body{
    background-color: #000;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:100%;
    width: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
    position: relative;
}
.grid-container h1{
    text-align: center;
    color: #fff;
    margin-top: 5%;
}
.cover{
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.grid-item{
    grid-column: 1/ -1;
    grid-row: 1/ -1;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container h2{
    font-size: 36px;
}
.grid-container h4{
    font-size: 28px;
}
.grid-container p{
    font-size: 24px;
}
.grid-container h2, h4, p{
    color: #fff;
    margin-top: 5%;
}
/* wallpaer */
.board{
    background-color: rgba(0, 0, 0, 0.7);
}

.text{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: 80%;
    padding-bottom: 5%;
    border: 2px;
    box-sizing: border-box;
    position: relative;
}

