
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    width: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
    position: relative;
}
main h1{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 36px;
}
article{
    margin-left: 5%;
}
article h2{
    color: #8D0B0B;
    font-size: 32px;
    margin-bottom: 3%;
    margin-top: 3%;
}
article p{
    color: #fff;
    font-size: 24px;
}
.cover{
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    background-color: #121010;
    z-index: 0;
}
.photo-dump{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px;
    gap: 6%;
}
.photo-dump img{
    width: 200px;
    height: 200px;
}
@media(max-width:768px){
    .photo-dump{
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px;
    }
}